
 
  .card {
   
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    box-shadow: 0 9px #999;
    margin: 15px 30px;
  }
  
  .card:hover {background-color: #3e7b8e}
  
  .card:active {
    background-color: #3e8d8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }